body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MainTitle {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: #0195a8;
  transition-duration: 0.5s;
}

.MainTitle h1 {
  margin: 0;
  color: white;
  font-size: 28px;
}

.MainTitle p {
  margin: 0;
  color: white;
}
.MainTitle:hover {
  color: white;
  background-color: black;
}
#listTitle {
  line-height: 2px;
}
ul {
  list-style: none;
  line-height: 60px;
}
ul li::before {
  font-size: 20px;
  content: '\2022';
  color: #0195a8;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
button {
  font-size: 20px;
  transition-duration: 0.5s;
  background-color: #0195a8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
button:hover {
  color: white;
  background-color: black;
}
footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #0195a8;
  text-align: center;
}
